<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Sirene</title>
    <path d="M 128 192 l 0 -64" stroke="#000000" stroke-width="5" fill="none" />
    <path d="M64 128 A 80 80 0 0 1 192 128 l -64 0 Z" stroke="#000000" stroke-width="5" fill="#FFFFFF" />

</svg>
